* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.img--round {
    border-radius: 50%;
}

.logo {
    width: 150px;
    height: 25px;
}

.btn {
    border: none;
}

.body{
  display: flex;
  flex-wrap: wrap;
  min-width: 1000px;
}

/* HEADER */


.header {
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 2px 15px 0 rgba(27, 114, 194, 0.1);
    background-color: #ffffff;
}

.header__block {
display: flex;
width: 22%;
justify-content: space-between;
align-items: center;
}

.worker-block {
    display: flex;
    align-items: center;
}

.worker-block__name {
    display: block;
    font-size: 1.2rem;
}

.worker-block__info {
    margin-left: 1rem;
}

.worker-block__direction {
display: block;
font-size: 1rem;
}

.worker-block__img {
    width: 35px;
    height: 35px;
    background-color: brown;
}

.worker-block__info {
    
}

/* ASIDE */

.aside {
    width: 20%;
    padding: 1rem;
    min-width: 180px;
}


.btn--nav {
    height: 30px;
    width: 90%;
    text-align: left;
    background-color: white;
    border: 2px solid 0.5px #d5d7e4;
}

.btn__descr {
    font-size: 1.5rem;
}

.aside__nav li {
    height: 45px;
    display: flex;
    align-items: center;
}


/* MAIN */

.main {
    width: 80%;
    padding-top: 35px;
    padding-left: 45px;
    padding-right: 35px;
    padding-bottom: 80px;
    background-color: #fafbfc;
}
/* FORM */

/* INFI-BLOCK */

.form__info-block {
    margin-bottom: 55px;
}

.block-title {
    font-size: 2rem;
    display: block;
    margin-bottom: 30px;
}

.account-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.account-info__data-block {
    width: 85%;
}

.img-block__img {
    width: 142px;
    height: 142px;
    background-color: aqua;
}

.data-block__conteiner-line {
    display: block;
}

.data-block__list {
    width: 40%;
    max-width: 400px;
}

.input {
    border: none;
    height: 25px;
    width: 90%;
    border-bottom: 0.5px solid #d5d7e4;
    font-size: 1.5rem;
    box-sizing: border-box;
    margin: 5px;
}

.input--info {
    font-size: 2rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.data-block li {
    margin-bottom: 1rem;
}

/* INFO BLOCK FINISH */

/* CONTACT BLOCK START */

.form__contact-block {
    margin-bottom: 55px;
}

.contact-info {
    widows: 100%;
}

.contact-info li {
    width: 50%;
}

.contact-info .input {
    max-width: 400px;
    min-width: 360px;
}

/* CONTACT BLOCK FINISH */

/* WRAPPER BLOCK */

/* INNER BLOCK */

.inner {
    margin-bottom: 55px;
}

.inner__container {
    display: flex;
    justify-content: space-around;
}

.input--short {
    width: 25px;
    margin-left: 2%;
}

.block-title--inner {
    margin-bottom: 12px;
}

.btn-container {
    text-align: right;
    
}

.btn--submit {
    background-color: #ff7954;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 2px;
}

.content__btn-submit {
    margin-right: 7%;
}