* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    box-sizing: border-box;
    width: 100%;
}

.img--round {
    border-radius: 50%;
}

.logo {
    width: 150px;
    height: auto;
}

.btn {
    border: none;
    padding: 0;
}

.body {
    display: flex;
    width: 100%;
}

/* ASIDE START */

.aside {
    width: 182px;
    box-shadow: 0 2px 15px 0 rgba(107, 128, 148, 0.12);
    background-color: #ffffff;
}

.logo {
    width: 148px;
    height: 22px;
}

.aside__logo {
    margin: 19 21 15 13;
}

.nav li {
    height: 43px;
    border-bottom: 1px solid #d5d7e4;
}

.aside__nav {
    border-top: 1px solid #d5d7e4;
}

.nav__btn {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 15px 0 rgba(107, 128, 148, 0.12);
    background-color: #ffffff;
}

.nav__btn-descr {
    margin-left: 9px;
    font-size: 13px;
}

.nav__btn-icon {
    font-size: 15px;
    margin-left: 9px;
}

/* ASIDE FINISH */

/*HEADER START */

.conteiner {
    width: 100%;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.worker-block {
    display: flex;
    align-items: center;
    margin-right: 35px;
    margin-left: 27px;
}

.worker-block__name {
    display: block;
    font-size: 12px;
    letter-spacing: 1.1px;
    color: #6b7380;
}

.worker-block__direction {
    font-size: 10px;
    letter-spacing: 1.2px;
    color: #626b79;
}

.worker-block__img {
    width: 32px;
    height: 32px;
    background-color: #6b7380;
}

.worker-block__info {
    margin-left: 9px;
}

.btn--key {
    width: 24px;
    height: 24px;
}

.header__list {
    display: flex;
}
/*HEADER FINISH */

/* MAIN START */

.main {
    padding: 35 35 80 40;
}

.form__info-block {
    margin-bottom: 55px;
}

.account-info {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
}

.img-block__img {
    width: 142px;
    height: 142px;
    border: 2px solid black;
}

.data-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
}

.data-block__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list--otstup {
    margin-right: 31px;
}

.block-title {
    font-size: 20px;
    letter-spacing: 1px;
    color: #aab3c2;
}

.form li {
}

.data-block__conteiner-line {
    display: block;
    line-height: 1.7;
    letter-spacing: 0.2px;
    color: #8c8e97;
    font-size: 1rem;
}

.input {
    border:none;
    border-bottom: 1px solid #d5d7e4;
    margin-bottom: 6px;
    font-size: 1.5rem;
}

.input--info {
    width: 266px;
    font-size: 2rem;
}

.input-date-user {
    width: 236px;
}

.account-info__icon {
    width: 15px;
    height: 15px;
}

.input--select {
    width: 283px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-data-owner {
    width: 268px;
}

/* CONTACT INFO START */

.form__contact-block {
    margin-bottom: 55px;
}

.contact-info {
    margin-top: 37px;
}

.contact-info__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 19px;
}

.contact-info__list li {
    padding-bottom: 6px;
    width: 50%;
    
}

.list__item--otstup {
}

/*CONTACT INFO FINISH */

/* WRAPPER START */

.wrapper .block-title {
    margin-bottom: 12px;
}

.inner__container {
    display: flex;
    justify-content: space-between;
}

.inner .btn {
    width: 146px;
}

.inner {
    margin-bottom: 53px;
}

.inner li {
    width: 146px;
    text-align: center;
}

.input--short {
    width: 146px;
    text-align: center;
}

.btn--shine {
    width: 151px;
    height: 40px;
    border-radius: 2px;
    background-color: #ff7954;
    letter-spacing: 0.8px;
    color: #ffffff;
    font-size: 17px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 62px;
}

/*WRAPPER FINISH */

/*MAIN FINISH */