body{
  font-size: 14px;
  font-family: "Arial", "sans-serif", "Times New Roman";
  border-bottom: 3px solid black;
  padding: 0px;
  display: block;
}
.main{
  margin: 0 120px 0 120px;
}
.section{
  display: block;
  text-align: center;
  margin: 100px 0 0 0;
}
.section__title{
  font-size: 48px;
}
.footer{
  text-align: center;
  border: solid gray;
}
.header{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 120px 0 120px;
}
.logo{
  display: inline-block;
}
.header__logo{
  text-align: left;
}
.logo__text{
  font-size: 20px;
}
.menu{
  display: inline-block;
}
.header__menu{
  text-align: left;
}
.list{
  padding: 0;
  list-style: none;
}
.list__item{
  display: inline-block;
  margin: 0 10px 0 10px;
}
.link{}
.menu link{}
.submenu-list{
  display: inline-block;
}
.header__submenu-list{
  float: right;
  z-index: 1;
}
.submenu__item{
  display: inline-block;
}
/* Section one start*/
.section__title--welcome{
  font-size: 50px;
}
.welcome__part{
  vertical-align: top;
  display: inline-block;
}
.welcome__list{
}
.card{
  display: inline-block;
  margin: 50px 60px 0px 60px;
}
/* Section one finish*/

/* Section two start */
.workflow{
}
.left-part{
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.workflow__list{
  text-align: left;
  display: inline-block;
  margin: 20px 0 0 50px;
}
.workflow .list__item{
  display: block;
  margin: 0 0 50px 0;
}
/*Section two finish*/

/*Section three start*/
.works{}
.works .list__item{
  display: inline-block;
  margin: 0 0 0 0;
}
.img-works{
  width: 100px;
  height: 100px;
}
/*Section three finish*/

/*Section four start*/
.design .list__item .card{
  margin: 0 0 0 0;
}
.design__list{
  margin: 0 0 0 0;
}
.img-design{
  display: inline-block;
  width: 600px;
  height: 350px;
}
.right-part{
  display: inline-block;
  text-align: right;
}
/*Section four finish*/

/*Section five start*/
.list__item--prices{
  display: block;
}
.card__left{
  display: inline-block;
}
.card__center{
  display: inline-block;
}
.card__right{
  display: inline-block;
}